{% extends 'base.html' %}

{% block title %}DECRYPTION{% endblock %}

{% block main %}
    <style>
        body {
          background-image: url('static/index.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
        }
    </style>
    <h1>Decryption of messages:</h1>
    <p>
        <div class="container">
            <div class="card-deck mb-3">
              <div class="card mb-4 shadow-sm">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal text-center">Decryption:</h4>
                </div>
                <div class="card-body">
                  <form action="{{ url_for('decrypt') }}" method="post">
                    <label for="code">Enter Encrypted word:</label>
                    <input type="text" class="form-control" name="code" id="code" value="" required>
                    <br>
                    <label for="integer">Enter password:</label>
                    <input type="integer" class="form-control" name="password" id="password" value="" required>
                    <br>
                    <button class="btn btn-primary btn-lg btn-block" type="submit">decrypt</button>
                  </form>
                </div>
              </div>
          
            </div>
          
          
          </div>
    </p>

{% endblock %}